### Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [4]:
str1 = 'abc' #string

In [5]:
lst = [1,2,3] # list

In [6]:
flt = 3.21 #float

In [7]:
tup =(1,2) #tuple

### Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [14]:
var1 =  '' # string

In [16]:
var2 = '[ DS , ML , Python]' # string

In [18]:
var3 = ['DS' , 'ML' , 'Python' ] # list

In [21]:
var4 = 1. # float

### Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [ ]:
'/' # divide

In [ ]:
'%' # Modulus

In [ ]:
'//' # Floor division

In [ ]:
'**' # Exponentiation

### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [24]:
lst = [1,2.0,3,'pwskill',(5,6),[7,8],9+9.5j,True]

### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [7]:
a= int(input('Enter number a= '))
b= int(input('Enter number b= '))
a1=a

count = 0
while a % b == 0:
    count = a // b
    break

if count > 0:
    print(f"{a1} is purely divisible by {b} and can be divided {count} times.")
else:
    print(f"{a1} is not purely divisible by {b}.")

Enter number a=  125
Enter number b=  5

125 is purely divisible by 5 and can be divided 25 times.

### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [47]:
lst = [i for i in range(1,25)]

In [48]:
for i in lst:
    if i%3==0:
        print(f'Element i= {i} is divisible by 3')
    else:
        print(f'Element i= {i} is not divisible by 3')

Element i= 1 is not divisible by 3
Element i= 2 is not divisible by 3
Element i= 3 is divisible by 3
Element i= 4 is not divisible by 3
Element i= 5 is not divisible by 3
Element i= 6 is divisible by 3
Element i= 7 is not divisible by 3
Element i= 8 is not divisible by 3
Element i= 9 is divisible by 3
Element i= 10 is not divisible by 3
Element i= 11 is not divisible by 3
Element i= 12 is divisible by 3
Element i= 13 is not divisible by 3
Element i= 14 is not divisible by 3
Element i= 15 is divisible by 3
Element i= 16 is not divisible by 3
Element i= 17 is not divisible by 3
Element i= 18 is divisible by 3
Element i= 19 is not divisible by 3
Element i= 20 is not divisible by 3
Element i= 21 is divisible by 3
Element i= 22 is not divisible by 3
Element i= 23 is not divisible by 3
Element i= 24 is divisible by 3

### Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

#### Mutable: Mutable data types are data types that allow to modify/change of data elements at a specific index/location

#### Immutable: Immutable data types are data types that do not allow any modifying/change of data elements at any index/location

In [49]:
# Mutable examples:
# List
lst = [1,2,3,4]

In [50]:
lst

[1, 2, 3, 4]

In [51]:
lst[2]=10

In [52]:
lst

[1, 2, 10, 4]

In [53]:
# Immutable examples:
# Tuples

tup =(1,2,3)

In [54]:
tup[0] = 30

TypeError: 'tuple' object does not support item assignment